// Components: anything reusable such as buttons, navbars, cards etc.

@use "./base" as *;

button {
  font-family: $font-button;
  letter-spacing: 0.1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: wheat;
  padding: 0.2em;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  padding: 1em;
}

textarea::placeholder {
  color: wheat;
}
