// Components: anything reusable such as buttons, navbars, cards etc.

@use "./base" as *;

button {
  font-family: $font-button;
  letter-spacing: 0.1em;
  background-color: rgba(0, 0, 0, 0.4);
  color: wheat;
  padding: 0.2em;
  cursor: pointer;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  padding: 1em;
}

textarea::placeholder {
  color: wheat;
}
