//Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

@use "./base" as *;

body {
  background-image: url(../assets/background.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  margin-bottom: 25vh;
  grid-template-rows: 1fr 2fr 1fr;

  @include respond(tablet) {
  }

  @include respond(mobile) {
    background: blue;
  }
}

.header__title {
  font-family: $font-header;
  letter-spacing: 0.1em;
  color: black;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  margin-top: 5vh;
}

.input {
  padding-top: 5vh;

  &__box {
    background-image: url(../assets/paper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    width: 15vw;
    color: #030102;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    grid-row: 2 / 3;
  }
}

.output {
  &__area {
    background-image: url("../assets/paper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    grid-row: 4;
    margin-top: 0.5em;
    margin-left: 5em;
    height: 25vh;
    width: 15vw;
    padding: 1em;
  }
}
