//Layout: contains all the CSS that handles the layout, such as the container and any grid systems.

@use "./base" as *;

main {
  background: red;
// normal styling code here

@include respond(tablet) {
      background: green;
      // responsive code for tablet viewport i.e. 600px
  }

@include respond(mobile) {
      background: blue;
      // responsive code for mobile viewport i.e. 480px   
  }
}